/* selector universal */

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
}

footer{ 
    background-color: azure;
}
 
/*selectores descendentes */

article p span {
    font-size: larger;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
/* selector de clase */
.miclase{
    background-color: brown;
}
/*selector tipo id */
#menu{
    background-color: aquamarine;
    color: darkorange;
}
h1+p{
    text-decoration: underline;
}
#miP{
    text-decoration: none;
}

/*selector pseudocodigo*/
.miA:hover , .miB:hover {
    background-color: darkgreen;
    color: goldenrod;

}
.miA:visited , .miB:link{
    background-color: darkkhaki;
    color: antiquewhite;
}

img:hover{
    opacity: 0;
}

.miC:hover{
    background-color: slategray;
    color: black;
}
.miC:hover::before{
    background-color: black;
    color:blue
     
    
}